.list{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}

.item {
    border: 1px solid black;
    max-width: 100px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    padding: 3px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    &:hover {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.5);
    }
}