.signIn {
    background-color: white;
    margin-right: 25px;
    cursor: pointer;
}

.signUp {
    background-color: white;
    color: #52C41A;
    width: 110px;
    padding: 6px auto 10px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    cursor: pointer;
}