@import '../../assets/fonts/fonts.scss';

.app {
    font-family: 'Inter', sans-serif;
    position: relative;
    font-size: 12px;
    line-height: 22px;
    background-color: #EBEEF3;
    min-height: 100vh;
}
