.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 30px;
    & img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
}

.author {
    margin-right: 12px;
}

.name {
    font-size: 18px;
    line-height: 28px;
    text-align: end;
}

.date {
    color: rgba(0, 0, 0, 0.5);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.delete {
    border: 1px solid red;
    border-radius: 4px;
    color: red;
    background-color: white;
    cursor: pointer;
    width: 70px;
    height: 31px;
    margin-right: 20px;
    position: relative;
}

.edit {
    border: 1px solid #52C41A;
    border-radius: 4px;
    color: #52C41A;
    background-color: white;
    cursor: pointer;
    width: 70px;
    height: 31px;
}
.hidden {
    display: none;
}
.modal {
    width: 240px;
    height: 104px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    right: 110px;
    top: 200px;
    z-index: 100;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    padding: 12px 16px 13px 40px;
    &::before {
        content: '';
        position: absolute;
        left: -2px;
        top: 15px;
        width:10px;
        height:10px;
        transform:rotate(-30deg) skewX(45deg);
        background:white;
        z-index:1;
        box-shadow:-2px -2px 4px 0px rgba(34, 60, 80, 0.2);
    }
}

.message {
    margin-bottom: 13px;
    padding-right: 20px;
    position: relative;
    font-size: 14px;
    &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 5px;
        display: inline-block;
        background-image: url('../../assets/icons/warning.svg');
        width: 14px;
        height: 14px;
    }
}

.modalBtns {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalNo {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 34px;
    cursor: pointer;
}

.modalYes {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 4px;
    width: 34px;
    cursor: pointer;
    color: white;
}
