.wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 16px 22px 13px 22px;
    margin-bottom: 26px;
    background-color: white;
    font-size: 18px;
    line-height: 28px;
}

.container {
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: white;
    cursor: pointer;
}