.wrapper {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin: auto;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    padding: 17px 14px 25px 19px ;
}